<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bcsd.project.mapper.lyThresholdManagementMapper">
    <resultMap id="BaseResultMap" type="com.bcsd.project.domain.lyThresholdManagement">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="upper_limit" property="upperLimit" jdbcType="INTEGER"/>
        <result column="lower_limit" property="lowerLimit" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        type, name, code, status, upper_limit, lower_limit, create_by, create_time, update_by, update_time
    </sql>
    <update id="updateByPrimaryKeySelective" parameterType="com.bcsd.project.domain.lyThresholdManagement">
        update ly_threshold_management
        <set>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="upperLimit != null">
                upper_limit = #{upperLimit,jdbcType=INTEGER},
            </if>
            <if test="lowerLimit != null">
                lower_limit = #{lowerLimit,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectThresholdManagementList" parameterType="com.bcsd.project.domain.lyThresholdManagement"
            resultType="com.bcsd.project.domain.lyThresholdManagement">
        select *
        from ly_threshold_management
        ORDER BY update_time desc
    </select>
</mapper>