<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsd.project.mapper.ProjectImplBasicInfoMapper">

    <select id="listPage" parameterType="com.bcsd.project.domain.ProjectImplBasicInfo" resultType="com.bcsd.project.domain.ProjectImplBasicInfo">
        SELECT
            pibi.*,u.nick_name user_name,
            CASE pibi.project_status
            <choose>
                <when test='params.roleKey == "quxiantianbao" or params.roleKey == "shijitianbao" or params.roleKey == "shengjitianbao"'>
                    WHEN '-1' THEN 1
                    WHEN '-2' THEN 2
                </when>
                <when test='params.roleKey == "quxian"'>
                    WHEN '1' THEN 1
                    WHEN '-1' THEN 4
                    WHEN '-2' THEN 5
                </when>
                <when test='params.roleKey == "shiji"'>
                    WHEN '2' THEN 1
                    WHEN '1' THEN 2
                    WHEN '-1' THEN 4
                    WHEN '-2' THEN 5
                </when>
                <when test='params.roleKey == "sanfang"'>
                    WHEN '3' THEN 1
                    WHEN '2' THEN 2
                    WHEN '1' THEN 2
                    WHEN '-1' THEN 4
                    WHEN '-2' THEN 5
                </when>
                <when test='params.roleKey == "shengji"'>
                    WHEN '4' THEN 1
                    WHEN '3' THEN 2
                    WHEN '2' THEN 2
                    WHEN '1' THEN 2
                    WHEN '-1' THEN 4
                    WHEN '-2' THEN 5
                </when>
                <otherwise>
                    WHEN '1' THEN 1
                    WHEN '2' THEN 1
                    WHEN '3' THEN 1
                    WHEN '4' THEN 1
                    WHEN '5' THEN 1
                    WHEN '-1' THEN 2
                </otherwise>
            </choose>
            WHEN '0' THEN 6
            ELSE 3 END i,
            IF(pibi.build_status='2',0,1) j
        FROM `project_impl_basic_info` pibi
        LEFT JOIN sys_user u ON pibi.user_id = u.user_id
        WHERE pibi.`delete_tag` = 0
        <if test="projectNo != null and projectNo != ''">
            AND pibi.project_no LIKE CONCAT('%',#{projectNo},'%')
        </if>
        <if test="projectName != null and projectName != ''">
            AND pibi.project_name LIKE CONCAT('%',#{projectName},'%')
        </if>
        <if test="deptId != null">
            AND pibi.dept_id IN(SELECT dept_id FROM sys_dept WHERE dept_id = #{deptId} OR FIND_IN_SET(#{deptId},ancestors))
        </if>
        <if test="projectType != null and projectType != ''">
            AND pibi.project_type = #{projectType}
        </if>
        <if test="buildStatus != null">
            AND pibi.build_status = #{buildStatus}
        </if>
        <if test="projectStatus != null and projectStatus != ''">
            AND pibi.project_status = #{projectStatus}
        </if>
        <if test="planYear != null and planYear != ''">
            AND FIND_IN_SET(#{planYear},pibi.plan_year)
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        ORDER BY i,pibi.project_status DESC,j,pibi.update_time DESC
    </select>

    <select id="selectUnauditedCount" parameterType="String" resultType="int">
        SELECT count(1) FROM project_impl_basic_info WHERE FIND_IN_SET(#{year},plan_year) AND project_status > 0
    </select>

    <select id="selectByYear" parameterType="string" resultType="com.bcsd.project.domain.ProjectImplBasicInfo">
        SELECT
            pibi.project_name,pibi.project_status,pibi.update_time,CONCAT_WS(',',sd.ancestors,pibi.dept_id) dept_ids
        FROM project_impl_basic_info pibi
        LEFT JOIN sys_dept sd ON pibi.dept_id = sd.dept_id
        WHERE FIND_IN_SET(#{year},plan_year)
    </select>

    <select id="selectUserId" parameterType="string" resultType="long">
        SELECT user_id FROM `project_impl_basic_info`
        WHERE FIND_IN_SET(#{year},plan_year) AND build_status != '4'
        GROUP BY user_id
    </select>

</mapper>
